.footer {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 0 10.6rem;
}

.footer-paragraph {
  font-size: 2rem;
  font-weight: 300;
  line-height: 3.315rem;
  text-align: left;
}
.footer-link {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.663rem;
  text-align: left;
  color: #d1d1d1;
}
